<meta charset="utf-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="/assets/plugins/animate/animate.min.css" rel="stylesheet" />
<link href="/assets/css/material/style.css" rel="stylesheet" />
<link href="/assets/css/material/style-responsive.min.css" rel="stylesheet" />
<link href="/assets/css/material/theme/default.css" rel="stylesheet" id="theme" />
<link href="/assets/plugins/flag-icon/css/flag-icon.css" rel="stylesheet" />

<script src="/assets/plugins/pace/pace.min.js"></script>
<script src="/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<!--[if lt IE 9]>
    <script src="/assets/crossbrowserjs/html5shiv.js"></script>
    <script src="/assets/crossbrowserjs/respond.min.js"></script>
    <script src="/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="/assets/js/theme/default.min.js"></script>
<script src="/assets/js/locale/message_en.js"></script>
<script src="/assets/js/apps.js"></script>
<!-- ================== END BASE JS ================== -->

<script src="/assets/plugins/parsley/dist/parsley.js"></script>
<script src="/assets/plugins/parsley/dist/i18n/en.js"></script>
<script src="/assets/plugins/highlight/highlight.common.js"></script>
<script src="/assets/js/demo/render.highlight.js"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="/assets/plugins/ionRangeSlider/js/ion-RangeSlider/ion.RangeSlider.js"></script>
<script src="/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="/assets/js/demo/ui-modal-notification.demo.min.js"></script>

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="/assets/js/demo/login-v2.demo.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script src="/assets/js/apps.js"></script>
