<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
			<div class="cover with-shadow" style="background: url('/assets/img/login-bg/laboratory.jpg');"></div>
			<div class="image">
				<!-- <img src="/assets/img/logo/logo.png" alt="" /> -->
			</div>
			<div class="info">
				<!-- <b class="caret pull-right"></b> -->
				<!-- <b sec:authentication="principal.username">demo</b> -->
				<!-- <small>Front end developer</small> -->
			</div>
		
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav" th:with="path=${#httpServletRequest.requestURI}">
			<li class="nav-header">
				
			</li>
			
            <!-- <li class="has-sub" th:classappend="${#strings.equals(path,'/chart') || #strings.equals(path,'/')} ? active : ''">
            	<a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-th-large"></i>
                    <span>대시보드</span>
                </a>
                <ul class="sub-menu">
                	<li th:classappend="${#strings.equals(path, '/')} ? active : ''">
						<a href="/">
						    <span>달력</span>
						</a>
					</li>
                </ul>
			</li> -->
			<li class="has-sub" th:classappend="${#strings.startsWith(path,'/p/result')} ? active : ''">
            	<a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-file-alt"></i>
                    <span>SEQ</span>
                </a>
                <ul class="sub-menu">
                	<li th:classappend="${#strings.equals(path, '/p/result/list')} ? active : ''">
						<a href="/p/result/list">
						    <span>List</span>
						</a>
					</li>
                </ul>
            </li>
			<li sec:authorize="hasAnyRole('ROLE_IT_99')"
				class="has-sub" th:classappend="${#strings.startsWith(path,'/p/set')} ? active : ''">
				<a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-cog fa-fw"></i>
                    <span>설정</span>
                </a>
				<ul class="sub-menu">
                    <li th:class="${#strings.contains(path,'/set/mbr/mng')} ? active : ''">
                    	<a href="/p/set/mmbr">사용자</a>
                    </li>
                </ul>
			</li>
		</ul>
				<!-- end sidebar nav -->
	</div>
			<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>