<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout/head"></th:block>
</head>
<body class="pace-done">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<div class="material-loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<div class="message">Loading</div>
		</div>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<th:block th:replace="layout/top"></th:block>
		<!-- end #header -->
		<!-- begin #sidebar -->
		<th:block th:replace="layout/left"></th:block>
		<!-- end #sidebar -->
		<th:block th:replace="popup/sample_select"></th:block>
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page header -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item">Work</li>
				<li class="breadcrumb-item active">Experiment</li>
			</ol>
			
			<h1 id="page-header" class="page-header font-weight-bold" th:text="#{menu.experiment}">Experiment</h1>
			
			<div class="row">
				<div class="col-xl-12">
					<ul class="nav nav-tabs">
						<!-- 	
						<li class="nav-item">
							<a href="#expr-tab-0" data-toggle="tab" class="nav-link active">
								<span class="d-sm-none">Tab 0</span>
								<span class="d-sm-block d-none">Upload</span>
							</a>
						</li>
						 -->
						<li class="nav-item">
							<a href="#expr-tab-1" data-toggle="tab" class="nav-link active">
								<span class="d-sm-none">Tab 1</span>
								<span class="d-sm-block d-none" th:text="#{page.experiment.upload}">Result Upload</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#expr-tab-2" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 2</span>
								<span class="d-sm-block d-none" th:text="#{page.experiment.chipAnalysis}">Select Chip Type And Sample</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#expr-tab-3" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 3</span>
								<span class="d-sm-block d-none" th:text="#{page.experiment.analysisList}">Analyzing</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#expr-tab-4" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 4</span>
								<span class="d-sm-block d-none" th:text="#{page.experiment.failedList}">Failed</span>
							</a>
						</li>
					</ul>
					<!-- begin tab content -->
					<div class="tab-content">
						<!-- begin tab-0 -->
						<div class="tab-pane fade" id="expr-tab-0">
							<form id="fileupload" method="POST" enctype="multipart/form-data" class="">
								<!-- begin panel -->
								<div class="note note-yellow m-b-15">
									<div class="note-icon f-s-20">
										<i class="fa fa-lightbulb fa-2x"></i>
									</div>
									<div class="note-content">
										<h4 class="m-t-5 m-b-5 p-b-2">Notes</h4>
										<ul class="m-b-5 p-l-25">
											<li>The maximum file size for uploads in this upload is <strong>1 GB</strong></li>
											<li>Cel files(<strong>CEL</strong>) <!-- And Mapping file(<strong>xlsx</strong>) --> are allowed in this upload.</li>
											<!-- <li>Select chip type(<strong>APMRA, Custom</strong>).</li> -->
										</ul>
									</div>
								</div>
								<div class="row fileupload-buttonbar">
									<div class="col-xl-auto">
										<!-- <button type="button" class="btn btn-green m-r-5 m-b-5" onclick="excelForm();">Excel Form</button> -->
										<span class="btn btn-primary fileinput-button m-r-3">
											<i class="fa fa-fw fa-plus"></i>
											<span>Add files...</span>
											<input type="file" id="addedFiles" name="file" multiple="">
										</span>
										<button class="btn btn-primary start m-r-3" onclick="importCelFiles()">
											<i class="fa fa-fw fa-upload"></i>
											<span>Start upload</span>
										</button>
										<button id="fileUploadResetBtn" type="reset" class="btn btn-default cancel m-r-3">
											<i class="fa fa-fw fa-ban"></i>
											<span>Cancel upload</span>
										</button>
										<!-- <button type="button" class="btn btn-default delete m-r-3">
											<i class="fa fa-fw fa-trash"></i>
											<span>Delete</span>
										</button> -->
										<!-- The global file processing state -->
										<span class="fileupload-process"></span>
									</div>
									<!-- The global progress state -->
									<div class="col-lg-5 fileupload-progress d-xl-block">
										Progress:
										<!-- The global progress bar -->
										<div class="progress progress-striped active m-b-0">
											<div id="fileUploadProgress" class="progress-bar progress-bar-success" style="width:0%;"></div>
										</div>
										<!-- The extended global progress state -->
										<div class="progress-extended">&nbsp;</div>
									</div>
								</div>
								
								<!-- begin table -->
								<div class="table-responsive">
									<table id="filesTable" class="table table-striped table-condensed text-nowrap mb-0">
										<thead>
											<tr>
												<th>FILE INFO</th>
												<th width="1%"></th>
											</tr>
										</thead>
										<tbody class="files">
											<tr id="emptyTr" data-id="empty">
												<td colspan="3" class="text-center text-muted p-t-30 p-b-30">
													<div class="m-b-10"><i class="fa fa-file fa-3x"></i></div>
													<div>No file selected</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- end table -->
							</form>
						</div>
						<!-- end tab-0 -->
						<!-- begin tab-1 -->
						<div class="tab-pane fade active show" id="expr-tab-1">
							<form id="resultFileupload" method="POST" enctype="multipart/form-data" data-parsley-validate="true">
								<div class="note note-yellow m-b-15">
									<div class="note-icon f-s-20">
										<i class="fa fa-lightbulb fa-2x"></i>
									</div>
									<div class="note-content">
										<h4 class="m-t-5 m-b-5 p-b-2" th:text="#{page.experiment.notes}">Notes</h4>
										<ul class="m-b-5 p-l-25">
											<li th:text="#{page.experiment.resultFileSizeComment}">The maximum file size for uploads in this upload is <strong>1 GB</strong></li>
											<li th:text="#{page.experiment.resultFileFormatComment}">Result Excel file(<strong>xlsx</strong>) <!-- And Mapping file(<strong>xlsx</strong>) --> are allowed in this upload.</li>
											<!-- <li>Select chip type(<strong>APMRA, Custom</strong>).</li> -->
										</ul>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<div class="col-md-4">
										<button type="button" class="btn btn-default m-r-5 m-b-5" onclick="excelForm();" th:text="#{common.excelFormDownload}">Excel Form Download</button>
										<button type="button" class="btn btn-default m-r-5 m-b-5" onclick="excelUpload();" th:text="#{common.excelUpload}">Excel Upload</button>
										<!-- <button type="button" class="btn btn-success m-r-5 m-b-5" onclick="importExcelToTable();">Save All</button> -->
									</div>
									<div class="hide">
										<input type="file" id="resultFile" name="file">
									</div>
									<div class="col-lg-5 fileupload-progress d-xl-block">
										Progress:
										<!-- The global progress bar -->
										<div class="progress progress-striped active m-b-0">
											<div id="resultFileUploadProgress" class="progress-bar progress-bar-success" style="width:0%;"></div>
										</div>
										<!-- The extended global progress state -->
										<div class="progress-extended">&nbsp;</div>
									</div>
								</div>
							</form>
						</div>
						<!-- end tab-1 -->
						<!-- begin tab-2 -->
						<div class="tab-pane fade" id="expr-tab-2">
							<div class="form-group row m-b-12">
								<label class="col-form-label col-md-1" th:text="#{common.keyword}">Key word</label>
								<div class="col-md-2">
								    <input type="text" id="cel_keyword" class="form-control"/>
								</div>
								<div class="col-md-1">
									<button onClick="searchCelFile();" class="btn btn-default m-l-10 " th:text="#{common.search}">Search</button>
								</div>
								<div class="col-md-8 text-right">
									<button type="button" class="btn btn-success m-r-5 m-b-5" onclick="analysis();" th:text="#{page.experiment.analysis}">Analysis</button>
									<button type="button" class="btn btn-danger m-r-5 m-b-5" onclick="deleteCelFile();" th:text="#{page.experiment.deleteCelFile}">Delete Files</button>
								</div>
							</div>
							<hr/>
							<form id="frm_expr" data-parsley-validate="true">
								<div id="_cel_grid"></div>
							</form>
						</div>
						<!-- end tab-2 -->
						<!-- begin tab-3 -->
						<div class="tab-pane fade" id="expr-tab-3">
							<div class="form-group row m-b-12">
								<label class="col-form-label col-md-1" th:text="#{common.product}">Product</label>
								<div>
									<select class="form-control width-200" data-parsley-required="true" id="expr_analyzing_sel_bundle" name="bundleId">
										<option value="" th:text="#{common.all}">All</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								<div class="input-group" id="analyzing-default-daterange" style="width: auto; float: right; padding-left: 10px; min-width: 250px" >
								    <input type="text" name="analyzing-default-daterange" class="form-control" value="" placeholder="click to select the date range" readonly="readonly"/>
								    <span class="input-group-append">
								    	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
								<label class="col-form-label col-md-1" th:text="#{common.keyword}">Key word</label>
								<div class="col-xs-push-0">
								    <input type="text" id="expr_analyzing_keyword" class="form-control"/>
								</div>
								<div>
									<button onClick="searchAnalyzing();" class="btn btn-default m-l-10 " th:text="#{common.search}">Search</button>
								</div>
							</div>
							<hr/>
							<div id="_expr_analyzing_grid"></div>
						</div>
						<!-- end tab-3 -->
						<!-- begin tab-4 -->
						<div class="tab-pane fade" id="expr-tab-4">
							<div class="form-group row m-b-12">
								<label class="col-form-label col-md-1" th:text="#{common.product}">Product</label>
								<div>
									<select class="form-control width-200" data-parsley-required="true" id="expr_failed_sel_bundle" name="bundleId">
										<option value="" th:text="#{common.all}">All</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								<div class="input-group" id="failed-default-daterange" style="width: auto; float: right; padding-left: 10px; min-width: 250px" >
								    <input type="text" name="failed-default-daterange" class="form-control" value="" placeholder="click to select the date range" readonly="readonly"/>
								    <span class="input-group-append">
								    	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
								<label class="col-form-label col-md-1" th:text="#{common.keyword}">Key word</label>
								<div class="col-xs-push-0">
								    <input type="text" id="expr_failed_keyword" class="form-control"/>
								</div>
								<div>
									<button onClick="searchFailed();" class="btn btn-default m-l-10 " th:text="#{common.search}">Search</button>
								</div>
							</div>
							<hr/>
							<div id="_expr_failed_grid"></div>
						</div>
						<!-- end tab-4 -->
					</div>
				</div>
			</div>
		</div>
			<!-- end content panel -->
		
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<input type="hidden" name="analyzingStartDate" id="analyzingStartDate" value="" />
	<input type="hidden" name="analyzingFinishDate" id="analyzingFinishDate" value="" />
	<input type="hidden" name="failedStartDate" id="failedStartDate" value="" />
	<input type="hidden" name="failedFinishDate" id="failedFinishDate" value="" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		
	var g_statusCodeInfo = /*[[${statusCodes}]]*/ {};

	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
		
	var g_fileUpload = null;
	var g_fileInfo = {};
	var g_uploadId = 0;
	var g_samples = null;
	var g_analysisSampleIdInfo = {};
	
	//  시작
	$(document).ready(function() {
		App.init();
		$("#cel_keyword").keydown(function(key) {
			if (key.keyCode == 13) {
				searchCelFile();
			}
		});
		
		$("#expr_analyzing_keyword").keydown(function(key) {
			if (key.keyCode == 13) {
				searchAnalyzing();
			}
		});
		
		$("#expr_failed_keyword").keydown(function(key) {
			if (key.keyCode == 13) {
				searchFailed();
			}
		});
		
		UserTable.init('_cel_grid');
		
		$.ajax({
            url: '/work/expr/get',
			type: 'get',
	        data : {
	        	pgNmb : 0,
	        	pgrwc : 50
	        },
	        dataType : 'json',
	        contentType : "application/json;charset=utf-8",
	        beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		    success: function(data, xhr) {
				g_samples = data.data;
				celfile();
			},
			error : function(data) {
				CommonMsg.error(function() { });
			},
			complete : function() {
				
			}
		});
		
		//set search date
		$('#analyzing-default-daterange').daterangepicker({
			opens: 'right',
			format : 'YYYY/MM/DD',
			separator: ' to ',
			startDate: moment().subtract(1, 'months'),
			endDate: moment(),
			minDate: '2018/01/01',
			maxDate: moment(),
		},
		function (start, end) {
			$('#analyzingStartDate').val(start.format('YYYY-MM-DD'));
			$('#analyzingFinishDate').val(end.format('YYYY-MM-DD'));
			$('#analyzing-default-daterange input').val(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
			
		});
		
		startDate = moment().subtract(1, 'months');
		endDate = moment();
		$('#analyzing-default-daterange input').val(startDate.format('YYYY-MM-DD') + ' ~ ' + endDate.format('YYYY-MM-DD'));
		$('#analyzingStartDate').val(startDate.format('YYYY-MM-DD'));
		$('#analyzingFinishDate').val(endDate.format('YYYY-MM-DD'));
		
		//set search date
		$('#failed-default-daterange').daterangepicker({
			opens: 'right',
			format : 'YYYY/MM/DD',
			separator: ' to ',
			startDate: moment().subtract(1, 'months'),
			endDate: moment(),
			minDate: '2018/01/01',
			maxDate: moment(),
		},
		function (start, end) {
			$('#failedStartDate').val(start.format('YYYY-MM-DD'));
			$('#failedFinishDate').val(end.format('YYYY-MM-DD'));
			$('#failed-default-daterange input').val(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
			
		});
		
		$('#failed-default-daterange input').val(startDate.format('YYYY-MM-DD') + ' ~ ' + endDate.format('YYYY-MM-DD'));
		$('#failedStartDate').val(startDate.format('YYYY-MM-DD'));
		$('#failedFinishDate').val(endDate.format('YYYY-MM-DD'));
		
		UserTable.init('_expr_analyzing_grid', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
		drawExprAnalyzingSampleGrid();
		
		UserTable.init('_expr_failed_grid', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
		drawExprFailedSampleGrid();
		
		g_fileUpload = $('#fileupload').fileupload({
			url: "/work/expr/upload",
	        sequentialUploads: true,
			dropZone: $(this),
			beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
		        var percentVal = '0%';
				$("#fileUploadProgress").width(percentVal);
				$("#fileUploadProgress").text(percentVal);
			},
			add: function (e, data) {
				$("#emptyTr").css("display", "none");
				// #. file이 추가될때 발생
				var filesTable = $("#filesTable > tbody");
				
				var fileInfo = data.files[0];
				var info = {
					file : fileInfo,
					error : false
				};
				g_fileInfo[g_uploadId] = info;
				var fileSize = '0 Bytes';
				if (fileInfo.size > 0) {
					var unit = 1024;
					var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
					var cnt = Math.floor(Math.log(fileInfo.size) / Math.log(unit));
					fileSize = parseFloat((fileInfo.size / Math.pow(unit, cnt)).toFixed(2)) + ' ' + sizes[cnt];
				}
				
				// #. validation
				var fileName = fileInfo.name;
				var ext = fileName.slice(fileName.lastIndexOf(".") + 1).toLowerCase();
				var errorText = "";
				if ($.inArray(ext, ['xls','xlsx','cel']) == -1) {
					errorText = "File type not allowed.";
					g_fileInfo[g_uploadId].error = true;
				}
				
				var row = '<tr class="template-upload fade show in">';
				row += '<td>';
				row += '	<div class="bg-light rounded p-10 mb-2">';
				row += fileInfo.name + '(' + fileSize + ')';
				row += '	</div>';
				row += '	<strong class="error text-danger h-auto d-block text-left">' + errorText + '</strong>';
				row += '</td>';
				row += '<td nowrap="">';
				row += '	<button class="btn btn-default cancel width-100 p-r-20" onclick="deleteRow(\'' + g_uploadId + '\')">';
				row += '		<i class="fa fa-trash fa-fw text-muted"></i>';
				row += '		<span>Cancel</span>';
				row += '	</button>';
				row += '</td>';
				row += '</tr>';
				
				filesTable.append(row);
				g_uploadId++;
		    },
		    progressall: function (e, data) {
	            var progress = parseInt(data.loaded / data.total * 100, 10);
	            
	            if (progress > 0) {
	            	var progressVal = progress + '%';
		            $("#fileUploadProgress").width(progressVal);
					$("#fileUploadProgress").text(progressVal);
	            }
	        },
		    success: function(data,xhr) {
		    	if (data.result == "00") {
					CommonMsg.save(function() {
						// #. grid reload
						UserTable.reload('_cel_grid');
					});
				} else {
					CommonMsg.error(function() { }, data.message);
				}
		    },
		    error : function(xhr, status, error) {
		    	CommonMsg.error(function() { });
			},
			complete : function() {
			}
		});
		
		$('button.cancel').click(function (e) {
			$("#emptyTr").css("display", "table-row");
		});
		
		$('#resultFile').on('change', function () {
			/* var fileValue = $("#file").val().split("\\");
			var fileName = fileValue[fileValue.length-1]; // 파일명
			alert(fileName);
			$('#import_file').text(fileName); */
			if ($("#resultFile").val() == '') return;

			CommonMsg.okCancel(function() {
				var form = $('#resultFileupload')[0];
				var data = new FormData(form);
				
				$.ajax({
					enctype: 'multipart/form-data',
					url: '/work/expr/excel/import',
					type: 'post',
					data : data,
					processData: false,
					contentType: false,
					beforeSend: function(xhr) {
						xhr.setRequestHeader(header, token);
						var percentVal = '0%';
						$("#resultFileUploadProgress").width(percentVal);
						$("#resultFileUploadProgress").text(percentVal);
					},
					xhr: function() {
						var xhr = $.ajaxSettings.xhr();
						xhr.upload.onprogress = function(e) {
							var percent = parseInt(e.loaded * 100 / e.total, 10);
							var percentVal = percent + '%';
							$("#resultFileUploadProgress").width(percentVal);
							$("#resultFileUploadProgress").text(percentVal);
						};
						return xhr;
					},
					success: function(data,xhr) {
						if (data.result == "00") {
							CommonMsg.save(function() { });
						} else if (!data.result.startsWith("0")) {

							CommonMsg.error(function() { }, data.message);
						}1
					},
					error : function(xhr, status, error) {
						CommonMsg.error(function() {
							
						});
					},
					complete : function() {
						$("#resultFile").val('');
						$("#resultFileUploadProgress").width('0%');
						$("#resultFileUploadProgress").text('0%');
						
						//excelImport();
						
					}
				});
			});
		});

		Parsley.addValidator('duplicationSampleId', {
			validateString: function(value, selectId) {
				var validate = true;
				for (var key in g_analysisSampleIdInfo) {
					if (selectId != key) {
						if (value == g_analysisSampleIdInfo[key]) {
							validate = false;
							break;
						}
					}
				}
				return validate;
			},
			messages: {
				en: 'This value is duplication.'
			}
		});
	});

	function celfile() {
		
		UserTable.draw('_cel_grid', {
			url : "/work/expr/files",
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			data : function() {
				var param = {
					keyword : $("#cel_keyword").val()
				};
				return param;
			},
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		}, [{
				title : ' ',
				data : "file",
				headClassName : 'width-50',
				bodyClassName : 'text-center',
				type : {
					name : "checkbox"
				}
			}, 
			{
				title : 'Select Chip',
				className : 'text-center',
				render : function(row, data, index) {
					var selectChip = '<select class="form-control" data-parsley-required="true" id="chipType' + index + '" name="chipType">'
						+ '<option value="">Choose</option>'
						+ '<option value="apmraChip">APMRA Chip</option>'
						+ '<option value="customChip">Custom Chip</option>'
						+ '</select>'
						+ '';
					return selectChip;
				}
			},
			{
				title : 'Select Sample',
				className : "with-btn text-center align-middle",
				render : function(data, type, index) {
					
					var h = '<div class="row">';
					h += '<div id="selectedSamplesDiv' + index + '" class="col-md-10">';
					h += '<div id="selectedSampleRow_' + index + '_0" name="selectedSampleRow_' + index + '" class="m-1">';
					h += '<select class="default-select2 width-200 form-control" data-parsley-required="true"'
						+ ' data-parsley-duplication-sample-id="sample_' + index + '_0"'
						+ ' data-parsley-errors-container="#err_sample_' + index + '_0" id="sample_' + index + '_0" name="selectedSample' + index + '">';
						
					h += '<option value="">Choose</option>';
					for (var s in g_samples) {
						h += '<option value="' + g_samples[s].id + '">' + g_samples[s].id + ' (' + g_samples[s].barcode + ')</option>';
					}
					
					h += '</select>'
						+ ' <a href="javascript:calSelPopupOnload(\'' + index + '_0\');" class="btn btn-sm btn-primary m-r-2">find</a>'
						+ '<a href="javascript:removeSampleRow(\'selectedSampleRow_' + index + '_0\');" class="btn btn-warning btn-sm"><i class="fa fa-minus"></i></a>'
						+ ' <div id="err_sample_' + index + '_0"></div>';
					h += '</div>';
					h += '</div>';
					h += '<div class="col-md-2 text-right">';
					h += '<a href="javascript:addSampleRow(' + index + ');" class="btn btn-info btn-sm"><i class="fa fa-plus"></i></a>';
					h += '</div>';
					h += '</div>';

					return h;
				}
			},   
			{
				title : 'Chip number',
				data : 'chipNumber'
			},
			{
				title : 'File Name',
				data : 'file'
			}
		], null);
	}

	function addSampleRow(index) {
		var lastRowIndex = $("div[name=selectedSampleRow_" + index + "]").last().attr("id").replace("selectedSampleRow_" + index + "_", "") * 1;
		lastRowIndex++;

		var h = '<div id="selectedSampleRow_' + index + '_' + lastRowIndex + '" name="selectedSampleRow_' + index + '" class="m-1">';
		h += '<select class="default-select2 width-200 form-control" data-parsley-required="true"'
			+ ' data-parsley-duplication-sample-id="sample_' + index + '_' + lastRowIndex + '"'
			+ ' data-parsley-errors-container="#err_sample_' + index + '_' + lastRowIndex + '" id="sample_' + index + '_' + lastRowIndex + '" name="selectedSample' + index + '">';
			
		h += '<option value="">Choose</option>';
		for (var s in g_samples) {
			h += '<option value="' + g_samples[s].id + '">' + g_samples[s].id + ' (' + g_samples[s].barcode + ')</option>';
		}
		
		h += '</select>'
			+ ' <a href="javascript:calSelPopupOnload(\'' + index + '_' + lastRowIndex + '\');" class="btn btn-sm btn-primary m-r-2">find</a>'
			+ '<a href="javascript:removeSampleRow(\'selectedSampleRow_' + index + '_' + lastRowIndex + '\');" class="btn btn-warning btn-sm"><i class="fa fa-minus"></i></a>'
			+ ' <div id="err_sample_' + index + '_' + lastRowIndex + '"></div>';
		h += '</div>';

		$("#selectedSamplesDiv" + index).append(h);

		$("#selectedSampleRow_" + index + "_" + lastRowIndex + " select").select2();
	}

	function removeSampleRow(rowId) {
		if ($("#" + rowId).parent().children().length > 1) {
			$("#" + rowId).remove();
		}
	}
	
	function searchCelFile() {
		UserTable.reload('_cel_grid');
	}
	
	function importCelFiles() {
		
		var uploadCount = Object.keys(g_fileInfo).length;
		if (uploadCount < 1) {
			CommonMsg.error(function() { });
			return;
		}
		
		// #. count는 있는데 validation check가 안된 목록이 있는경우
		for (var key in g_fileInfo) {
			if (g_fileInfo[key].error) {
				CommonMsg.error(function() { });
				return;
			}
		}

		var files = [];
		for (var key in g_fileInfo) {
			files.push(g_fileInfo[key].file);
		}
		// #. file send
		$('#fileupload').fileupload('send', {files: files});
	}
	
	function deleteRow(id) {
		delete g_fileInfo[id];
		// #. 
		if (Object.keys(g_fileInfo).length < 1) {
			$("#emptyTr").css("display", "table-row");
		}
	}
	
	function celFileUpload() {
		$('#file').trigger('click'); 
	}

	
	
	function analysis() {
		var c = UserTable.getRowCount('_cel_grid');
		var map = {}, data = [];
		var validate = true;
		
		var duplicationErrorDivIds = [];
		
		g_analysisSampleIdInfo = {};

		for (var i = 0; i < c; i++) {
			// #. 모든 sampleId 값 셋팅
			$('select[name=selectedSample' + i + "]").each(function() {
				var sampleId = $(this).val();
				if (sampleId.length > 0) {
					g_analysisSampleIdInfo[$(this).attr('id')] = sampleId;
				}
			});
		}

		for (var i = 0; i < c; i++) {
			var chipType = $('#chipType' + i).val();

			// #. chipType 체크
			$('select[name=selectedSample' + i + "]").each(function() {
				var sampleId = $(this).val();
				if (chipType.length > 0 || sampleId.length > 0) {
					if ($(this).parsley().validate() !== true || $('#chipType' + i).parsley().validate() !== true) {
						validate = false;
					}

					if (chipType.length > 0 && sampleId.length > 0) {
						map = {};
						map.id = sampleId;
						map.chipType = chipType;
						map.chipNumber = UserTable.getRowAt('_cel_grid', i).chipNumber;
						map.fileName = UserTable.getRowAt('_cel_grid', i).file;
						data.push(map);
					}
				}

			});
		}

		if (data.length < 1 || !validate) {
			return;
		}
		
		$.ajax({
            url: '/work/expr/analysis',
			type: 'post',
	        data : JSON.stringify(data),
	        dataType : 'json',
	        contentType : "application/json;charset=utf-8",
	        beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		    success: function(data, xhr) {
		    	if (data.result == "00") {
					CommonMsg.save(function() {
						// #. grid reload
						UserTable.reload('_cel_grid');
						
						// #. grid reload
						UserTable.reload('_expr_analyzing_grid');
					});
				} else if (!data.result.startsWith("0")) {
					CommonMsg.error(function() { });
				}
			},
			error : function(data) {
				CommonMsg.error(function() { });
			},
			complete : function() {
				
			}
		});
	}
	
	function deleteCelFile() {
		var checkedRows = UserTable.getCheckedRows("_cel_grid");
		if (checkedRows.length > 0) {
			CommonMsg.okCancel(function() {
				var celFileNames = [];
				for (var i = 0; i < checkedRows.length; i++) {
					var row = checkedRows[i];
					celFileNames.push(row.file);
				}

				$.ajax({
					url: '/work/expr/delete/files',
			        type : "post",
			        dataType : 'json',
			        data : {celFileNames : celFileNames},
			        beforeSend: function(xhr) {
						xhr.setRequestHeader(header, token);
					},
				    success: function(data, xhr) {
				    	if (data.result == "00") {
				    		CommonMsg.save(function() {
				    			UserTable.reload('_cel_grid');
							}, "Success Deleted Files.");
						} else if (!data.result.startsWith("0")) {
							CommonMsg.error(function() { });
						}
					},
					error : function(data) {
						CommonMsg.error(function() { });
					},
					complete : function() {
					}
				});
			});
		}
	}
	
	function popupAfter(index, sampleId) {
		//$('#sample' + index).val(sampleId);
		var sid = '#sample_' + index;
		if ($(sid).find("option[value='" + sampleId + "']").length) {
			$(sid).val(sampleId).trigger('change');
		} else { 
			// Create a DOM Option and pre-select by default
			var newOption = new Option(sampleId, sampleId, true, true);
			// Append it to the select
			$(sid).append(newOption).trigger('change');
		} 
		
		
		$('#sample_' + index).parsley().validate();
	}
	
	function drawExprAnalyzingSampleGrid() {
		UserTable.draw('_expr_analyzing_grid', {
			url : "/work/expr/resultsby/analyzing",
			type : "GET",
			data : function() {
				var param = {
					bundleId : $("#expr_analyzing_sel_bundle").val(),
					sDate : $('#analyzingStartDate').val() == "" || $('#analyzingStartDate').val() == null ? "" : $('#analyzingStartDate').val(),
					fDate : $('#analyzingFinishDate').val() == "" || $('#analyzingFinishDate').val() == null ? "" : $('#analyzingFinishDate').val(),
					keyword : $("#expr_analyzing_keyword").val()
				};
				return param;
			},
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			}
		}, [{
			title : 'No', 
			data : 'id',
			headClassName : 'width-50',
			bodyClassName : 'text-center',
			render : function(row, data, index) {
				return '<string>' + (index + 1) + '</string>';
			}
		}, {
			title : "Laboratory",
			data : "sample.id"
		}, {
			title : "Barcode",
			data : "sample.barcode"
		}, {
			title : "Product",
			data : "sample.bundle.name",
		}, {
			title : "Chip Number",
			data : "chipNumber",
		}, {
			title : "Status",
			data : "statusCode"
		}, {
			title : "Experiment Date",
			data : "createdDate",
			type : "date"
		}, {
			title : "Experiment user",
			data : "member.name",
		}]);
	}
	
	function searchAnalyzing() {
		UserTable.reload('_expr_analyzing_grid');
	}
	
	function drawExprFailedSampleGrid() {
		UserTable.draw('_expr_failed_grid', {
			url : "/work/expr/resultsby/failed",
			type : "GET",
			data : function() {
				var param = {
					bundleId : $("#expr_failed_sel_bundle").val(),
					sDate : $('#failedStartDate').val() == "" || $('#failedStartDate').val() == null ? "" : $('#failedStartDate').val(),
					fDate : $('#failedFinishDate').val() == "" || $('#failedFinishDate').val() == null ? "" : $('#failedFinishDate').val(),
					keyword : $("#expr_failed_keyword").val()
				};
				return param;
			},
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			}
		}, [{
			title : 'No', 
			data : 'id',
			headClassName : 'width-50',
			bodyClassName : 'text-center',
			render : function(row, data, index) {
				return '<string>' + (index + 1) + '</string>';
			}
		}, {
			title : "Laboratory",
			data : "sample.id"
		}, {
			title : "Barcode",
			data : "sample.barcode"
		}, {
			title : "Product",
			data : "sample.bundle.name",
		}, {
			title : "Chip Number",
			data : "chipNumber",
		}, {
			title : "Status",
			data : "statusCode",
			render : function(row, data, index) {
				var value = g_statusCodeInfo[data];
				return '<a href="javascript:openErrorMessageSwal(\'' + row.statusMessage + '\')">' + value + '</a>';
			}
		}, {
			title : "Experiment Date",
			data : "createdDate",
			type : "date"
		}, {
			title : "Experiment user",
			data : "member.name",
		}]);
	}
	
	function searchFailed() {
		UserTable.reload('_expr_failed_grid');
	}
	
	function openErrorMessageSwal(message) {
		CommonMsg.error(function() {}, message);
	}

	function excelForm() {
		location.href = '/work/expr/excel/form';
	}

	function excelUpload() {
		$('#resultFile').trigger('click'); 
	}
	
	/* function excelForm() {
		location.href = '/work/expr/excel/form';
	} */
	/* function csvFile(id) {
		location.href = '/work/expr/csv/file?id=' + id;
	} */
	
	/*]]>*/
	</script>
	
</body>
</html>