<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout/head"></th:block>
    <style>
	
	#table_form td, #table_form th {
		padding: 2px 10px;
		border: 0;
	}
	
	</style>
</head>
<body class="pace-done">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<div class="material-loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<div class="message">Loading</div>
		</div>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<th:block th:replace="layout/top"></th:block>
		<!-- end #header -->
		<!-- begin #sidebar -->
		<th:block th:replace="layout/left"></th:block>
		<!-- end #sidebar -->
		<th:block th:replace="popup/sample_detail"></th:block>
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page header -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item">Work</li>
				<li class="breadcrumb-item active">Register</li>
			</ol>
			
			<h1 id="page-header" class="page-header" th:text="#{menu.register}">Register</h1>
			
			<div class="row">
				<div class="col-xl-12">
					
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a href="#collect-tab-4" data-toggle="tab" class="nav-link active">
								<span class="d-sm-none">Tab 1</span>
								<span class="d-sm-block d-none" th:text="#{page.register.new}">New registration</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#collect-tab-1" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 2</span>
								<span class="d-sm-block d-none" th:text="#{page.register.completed}">Complete Registered</span>
							</a>
						</li>
						<!-- <li class="nav-item">
							<a href="#collect-tab-2" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 2</span>
								<span class="d-sm-block d-none">Excel import</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="#collect-tab-3" data-toggle="tab" class="nav-link">
								<span class="d-sm-none">Tab 3</span>
								<span class="d-sm-block d-none">Single Resistration</span>
							</a>
						</li> -->
					</ul>
					
					<div class="tab-content">
						<!-- begin tab-pane -->
						<div class="tab-pane fade" id="collect-tab-1">
					
							<div class="form-group row m-b-12">
								<label class="col-form-label col-md-1" th:text="#{common.product}">Product</label>
								<div class="col-xs-push-0">
									<select class="form-control width-200" id="sel_bundle">
										<option th:text="#{common.all}" value>All</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								
								<label class="col-form-label" th:text="#{common.createdDate}">Created date</label>
								<div class="input-group" id="default-daterange"  style="width: auto; float: right; padding-left: 10px; min-width: 220px" >
								    <input type="text" name="default-daterange" class="form-control" value="" placeholder="click to select the date range" readonly="readonly"/>
								    <!-- <span class="input-group-append">
								    	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</span> -->
								</div>
								<label class="col-form-label col-md-1" th:text="#{common.keyword}">Key word</label>
								<div class="col-xs-push-0">
									
								    <input type="text" id="keyword" class="form-control"/>
								</div>
								<div>
									<button onClick="search();" class="btn btn-default m-l-10 " th:text="#{common.search}">Search</button>
								</div>
							</div>
							<hr/>
							<div id="_collect_grid">
							</div>
						</div>
						<div class="tab-pane fade" id="collect-tab-2">
					
							<!-- <form id="fileupload" method="POST" enctype="multipart/form-data" data-parsley-validate="true">
								<div class="form-group row m-b-15">
									<label class="col-form-label col-md-1">Product</label>
									<div class="col-xs-push-0">
										<select class="form-control width-200"
											data-parsley-required="true" data-parsley-errors-container="#error_bundle2" id="sel_bundle2">
											<option value>please choose</option>
											<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
										</select>
									</div>
									<div class="col-xs-push-0">
										<div id="error_bundle2"></div>
									</div>
									<div class="col-md-4">
										<button type="button" class="btn btn-default m-r-5 m-b-5" onclick="excelForm();">Excel Form Download</button>
										<button type="button" class="btn btn-default m-r-5 m-b-5" onclick="excelUpload();">Excel Upload</button>
										
										<button type="button" class="btn btn-success m-r-5 m-b-5" onclick="importExcelToTable();">Save All</button>
									</div>
									<div class="hide">
										<input type="file" id="file" name="file">
									</div>
									<div id="progress" class="hide">
										<div class="progress rounded-corner progress-striped active width-200">
											<div class="progress-bar bg-purple" style="width: 0%"> </div>
										</div>
									</div>
								</div>
								<input type="hidden" id="frmBundleId" name="bundleId" value=""/>
							</form> -->
							
							<hr/>
						</div>
						<div class="tab-pane fade" id="collect-tab-3">
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-1" th:text="#{common.product}">Product</label>
								<div class="col-xs-push-0">
									<select class="form-control width-200"
										data-parsley-required="true" data-parsley-errors-container="#error_bundle3" id="sel_bundle3">
										<option value>please choose</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								<div class="col-xs-push-0">
									<div id="error_bundle3"></div>
								</div>
							</div>
							<hr/>
							<div id="add_single_sample3"></div>
						</div>
						<div class="tab-pane fade active show" id="collect-tab-4">
						
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-1" th:text="#{common.product}">Product</label>
								<div class="col-xs-push-0">
									<select class="form-control width-200"
										data-parsley-required="true" data-parsley-errors-container="#error_bundle4" id="sel_bundle4">
										<option value>please choose</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								<div class="col-xs-push-0">
									<div id="error_bundle4"></div>
								</div>
							</div>
							<hr/>
							
							<ul class="nav nav-pills mb-2">
								<li class="nav-item">
									<a href="#new-tab-1" data-toggle="tab" class="nav-link active">
										<span class="d-sm-none">Tab 1</span>
										<span class="d-sm-block d-none" th:text="#{common.single}">Single</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="#new-tab-2" data-toggle="tab" class="nav-link">
										<span class="d-sm-none">Tab 2</span>
										<span class="d-sm-block d-none" th:text="#{common.excelImport}">Excel imports</span>
									</a>
								</li>
								
							</ul>
							<hr/>
							<div class="tab-content">
								<!-- begin tab-pane -->
								<div class="tab-pane fade active show" id="new-tab-1">
									<div id="add_single_sample4"></div>
								</div>
								<div class="tab-pane fade" id="new-tab-2">
									
									<form id="fileupload" method="POST" enctype="multipart/form-data" data-parsley-validate="true">
										<div class="form-group row m-b-15">
											
											<div class="col-md-4">
												<button type="button" class="btn btn-default m-r-5 m-b-5" th:text="#{common.excelFormDownload}" onclick="excelForm();">Excel Form Download</button>
												<button type="button" class="btn btn-default m-r-5 m-b-5" th:text="#{common.excelUpload}" onclick="excelUpload();">Excel Upload</button>
												
												<button type="button" class="btn btn-success m-r-5 m-b-5" th:text="#{common.saveAll}" onclick="importExcelToTable();">Save All</button>
											</div>
											<div class="hide">
												<input type="file" id="file" name="file">
											</div>
											<div id="progress" class="hide">
												<div class="progress rounded-corner progress-striped active width-200">
													<div class="progress-bar bg-purple" style="width: 0%"> </div>
												</div>
											</div>
										</div>
										<input type="hidden" id="frmBundleId" name="bundleId" value=""/>
									</form>
									
									<div id="_import_grid">
									</div>
								</div>
							</div>
					
						
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				
				<!-- end panel-body -->
			</div>
			<!-- end panel -->
		</div>
		
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<!-- end scroll to top btn -->
	</div>
	
	<input type="hidden" name="startDate" id="startDate" value="" />
	<input type="hidden" name="finishDate" id="finishDate" value="" />
	<!-- end page container -->
	
	
	<script th:inline="javascript">
	/* <![CDATA[ */       

	var tables = [];
	var count;
	
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	//  시작
	$(document).ready(function() {
		App.init();
		
		TableManageDefault.init();
		
		UserTable.init('_collect_grid', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
		
		$('#sel_bundle3, #sel_bundle4').on('change', function () {
			initForm($(this).attr('id'));
		});
		
		$('#default-daterange').daterangepicker({
			opens: 'right',
			format : 'YYYY/MM/DD',
			separator: ' to ',
			startDate: moment().subtract(1, 'months'),
			endDate: moment()
		}, function (start, end) {
			
			$('#startDate').val(start.format('YYYY-MM-DD'));
			$('#finishDate').val(end.format('YYYY-MM-DD'));
			$('#default-daterange input').val(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
			
		});
		startDate = moment().subtract(1, 'months');
		endDate = moment();
		$('#default-daterange input').val(startDate.format('YYYY-MM-DD') + ' ~ ' + endDate.format('YYYY-MM-DD'));
		$('#startDate').val(startDate.format('YYYY-MM-DD'));
		$('#finishDate').val(endDate.format('YYYY-MM-DD'));
		
		UserTable.draw('_collect_grid', {
			url : "/work/register/get",
			type : "GET",
			data : function() {
				var param = {
					bundleId : $("#sel_bundle").val(),
					sDate : $('#startDate').val() == "" || $('#startDate').val() == null ? "" : $('#startDate').val(),
					fDate : $('#finishDate').val() == "" || $('#finishDate').val() == null ? "" : $('#finishDate').val(),
					keyword : $("#keyword").val()
				};
				return param;
			},
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			}
		}, [ 
			
			{
				title : 'No', 
				data : 'id',
				headClassName : 'width-50',
				bodyClassName : 'text-center',
				render : function(row, data, index) {
					return '<string>' + (index + 1) + '</string>';
				}
			},
			{
				title : '실험실', 
				data : 'id'
			},
			{
				title : '바코드', 
				data : 'barcode'
			},
			{
				title : '상품', 
				data : 'bundle.name'
			},
			{
				serverHeader : true
			},
			{
				title : '검체 등록일자', 
				data : 'createdDate',
				type : 'date'
			},
			{
				title : '등록자', 
				data : 'member.name'
			}
		], null);
			
		
		
		$('#file').on('change', function () {
			/* var fileValue = $("#file").val().split("\\");
			var fileName = fileValue[fileValue.length-1]; // 파일명
			alert(fileName);
			$('#import_file').text(fileName); */
			if ($("#file").val() == '') return;
			$("#frmBundleId").val($("#sel_bundle4").val());
			
			var form = $('#fileupload')[0];
			var data = new FormData(form);
			
			$.ajax({
				enctype: 'multipart/form-data',
	            url: '/work/register/excel/import',
				type: 'post',
		        data : data,
		        processData: false,
		        contentType: false,
		        beforeSend: function(xhr) {
					xhr.setRequestHeader(header, token);
			        var percentVal = '0%';
					$("#progress").show();
					$("#progress div div").width(percentVal);
					$("#progress div div").text(percentVal);
				},
				/* xhr: function() {
					var xhr = $.ajaxSettings.xhr();
					xhr.upload.onprogress = function(e) {
						var percent = e.loaded * 100 / e.total;
						var percentVal = percent + '%';
						$("#progress div div").width(percentVal);
						$("#progress div div").text(percentVal);
					};
					return xhr;
				}, */
			    success: function(data,xhr) {
			        if (data.result == "00") {
				        var percentVal = '100%';
						$("#progress div div").width(percentVal);
						$("#progress div div").text(percentVal);
						
						excelImport();
						
						CommonMsg.save(function() { });
					} else if (!data.result.startsWith("0")) {
						CommonMsg.error(function() { });
					}
			    },
			    error : function(xhr, status, error) {
			    	CommonMsg.error(function() {
						
					});
				},
				complete : function() {
					$("#file").val('');
					$("#progress").hide();
					//$(".progress-bar").width('0%');
					//$(".progress-bar").text('0%');
					
					//excelImport();
					
				}
			});
		});
		
	});
	
	function excelForm() {
		if ($("#sel_bundle4").parsley().validate() != true) return;
		
		var bundleId = $("#sel_bundle4").val();
		//if (bundleId == "") return;
		
		location.href = '/work/register/excel/form?bundleId=' + bundleId;
	}
	
	function excelUpload() {
		if ($("#sel_bundle4").parsley().validate() != true) return;
		
		$('#file').trigger('click'); 
		
	}
	
	function setDatepicker(aDateInputs) {
		
		for (var e in aDateInputs) {
			
			$('input[name="' + aDateInputs[e] + '"]').datepicker({
				dateFormat : 'yy-mm-dd'
			});
		}
	}
	
	function save() {
		if (!$('#frm_new').parsley().validate()) {
			return;	
		}
		
		$.ajax({
            url: '/work/register/save',
			type: 'post',
	        data : JSON.stringify($('#frm_new').serializeObject()),
	        dataType : 'json',
	        contentType : "application/json;charset=utf-8",
	        beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		    success: function(data, xhr) {
		    	if (data.result == "00") {
					CommonMsg.save(function() {
						$("#frm_new")[0].reset();
					});
				} else if (!data.result.startsWith("0")) {
					CommonMsg.error(function() { });
				}
			},
			error : function(data) {
				CommonMsg.error(function() { });
			},
			complete : function() {
				
			}
		});
	}
	
	function importExcelToTable() {
		var rows = $('#_import_grid table tbody tr');
		if (rows.length < 1) {
			return;
		}
		
		$.ajax({
            url: '/work/register/import',
			type: 'get',
	        dataType : 'json',
	        contentType : "application/json;charset=utf-8",
	        beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		    success: function(data, xhr) {
		    	if (data.result == "00") {
					CommonMsg.save(function() {
						
					});
				} else if (!data.result.startsWith("0")) {
					CommonMsg.error(function() { });
				}
			},
			error : function(data) {
				CommonMsg.error(function() { });
			},
			complete : function() {
				
			}
		});
	}
	
	function initForm(id) {
		if ($("#" + id).parsley().validate() != true) return;
		var bundleId = $("#" + id).val();
		$.ajax({
			url : "/work/register/itemby/bundle/" + bundleId,
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			success: function (rtn) {
				
				var html = "", aSplit = [], aDateInputs = [], parsley = ' data-parsley-required="true"';
				var notnull = false, readonly = '';
				
				var data = rtn.sampleItem;
				var bundle = rtn.bundle;
								
				if (data) {
					
					html = '<form id="frm_new" data-parsley-validate="true">';
					html += '<table id="table_form" class="table">';
					autoComplete = 'autocomplete="off"';
					for (var r in data) {
						readonly = '';
						notnull = data[r].notNull;
						if ((bundle.autoSequence && data[r].nameCode == "laboratory")
							|| (bundle.autoBarcode && data[r].nameCode == "barcode")) {
							
							readonly = ' readonly';
							notnull = false;
						}
						
						//html += '<div class="form-group row m-b-15">';
						if (r % 2 == 0) html += '<tr>'
						html += '<th>';
						html += data[r].name;
						html += ' <th>';
						html += '<td>';
						if (data[r].type == "select" && data[r].selectValue) {
							html += '<select class="form-control form-control-sm"' + (notnull ? parsley : '') + ' name="' + data[r].nameCode + '">';
							aSplit = data[r].selectValue.split(",");
							for (var a in aSplit) {
								html += '<option value="' + aSplit[a] + '">' + aSplit[a] + '</option>';
							}
							html += '</select>';
						} else if (data[r].type == "date") {
							aDateInputs.push(data[r].nameCode);
							html += '<div class="input-group" data-provide="datepicker">';
							html += '<input type="text" class="form-control form-control-sm"'
								+ (notnull ? parsley + ' data-parsley-errors-container="#error_' + data[r].nameCode + '"' : '')
								+ ' placeholder="click to select the date range" '
								+ 'placeholder="' + data[r].exampleValue + '" name="' + data[r].nameCode + '" " ' + autoComplete + '/>';
							html += '<span class="input-group-append">';
							html += '<span class="input-group-text"><i class="fa fa-calendar"></i></span>';
							html += '</span>';
							html += '</div><div id="error_' + data[r].nameCode + '"></div>';
						} else {
							html += '<input type="text" class="form-control form-control-sm"' + (notnull ? parsley : '') + ' '
								+ 'placeholder="' + data[r].exampleValue + '" name="' + data[r].nameCode + '" ' + autoComplete;
							
							html += readonly
							html += '/>';
						}
						
						html += '</td>';
						if (r % 2 == 1) html += '</tr>'
					}
					
					html += '<input type="hidden" name="bundleId" value="' + bundleId + '" />';
					html += '</table>';
					html += '</form>';
					html += '<hr/>';
					
					html += '<button type="button" class="btn btn-success m-r-5 m-b-5" onclick="save();">Save</button>';
					
					$("#add_single_sample" + id.charAt(id.length - 1)).html(html);
				}
				
				setDatepicker(aDateInputs);
				
			},
			error : function(data) {
				CommonMsg.error(function() { });
			}
		});
	}
	
	function search() {
		UserTable.reload('_collect_grid');
	}
	
	function excelImport() {
		if ($("#sel_bundle4").parsley().validate() != true) {
			return;
		}
		var bundleId = $("#sel_bundle4").val();
		
		
		UserTable.init('_import_grid', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
		
		UserTable.draw('_import_grid', {
			url : "/work/register/get/temp",
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			}
		}, [ ], function(data) {
			var html = '', headHtml = '<tr>';
			for (var s in data) {
				html += '<tr>';
				var items = data[s].items;
				var fields = Object.keys(items);
				for (var r in fields) {
					var val = items[fields[r]];
					html += '<td>' + (val ? val : '') + '</td>';
					if (s == 0) headHtml += '<th>' + (fields[r] ? fields[r] : '') + '</th>';
				}
				html += '</tr>';
			}
			headHtml += '</tr>';
			var rtn = {
				html : html,
				headHtml : headHtml
			};
			return rtn;
		});
	}
	
	
	
	/* ]]> */
	</script>
	
</body>
</html>