<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- #. 화면 기본 head 추가 -->
<th:block th:replace="layout/head"></th:block>
</head>

<body class="pace-done">
	<form name="searchForm" id="searchForm" method="post">
		<input type="hidden" name="startDate" id="startDate" value="" />
		<input type="hidden" name="finishDate" id="finishDate" value="" />
	</form>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<div class="material-loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<div class="message">Loading</div>
		</div>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<th:block th:replace="layout/top"></th:block>
		<!-- end #header -->
		<!-- begin #sidebar -->
		<th:block th:replace="layout/left"></th:block>
		<!-- end #sidebar -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page header -->
			<!-- <ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Setting</a></li>
				<li class="breadcrumb-item active">Member</li>
			</ol> -->
			<h1 class="page-header" th:text="#{page.member.title}">Member</h1>
			<!-- end page header -->
			
			<!-- begin saved panel -->
			<div id="savedPanel" class="panel panel-inverse" data-sortable-id="form-validation-2" style="display:none;">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
							<i class="fa fa-expand"></i>
						</a>
						<!-- <a id="reload" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success">
							<i class="fa fa-redo"></i>
						</a> -->
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse">
							<i class="fa fa-minus"></i>
						</a>
						<a id="removeSavedPanel" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" >
							<i class="fa fa-times"></i>
						</a>
					</div>
					<h4 class="panel-title" th:text="#{page.member.new}">Save Member</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div class="panel-body">
					<form id="frmNew" data-parsley-validate="true">
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" th:text="#{page.member.name}">Name <span class="text-danger">*</span> :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="text" id="memberName" name="name"
									placeholder="Member Name." data-parsley-required="true" maxLength="100"/>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" th:text="#{page.member.id}">ID <span class="text-danger">*</span> :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="text" id="memberId" name="id"
									placeholder="Member ID." data-parsley-required="true" maxLength="40"/>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" th:text="#{page.member.password}">Password <span class="text-danger">*</span> :</label>
							<div class="col-md-8 col-sm-8">
								<input type="password" id="memberPassword" name="password" class="form-control" placeholder="Password" maxLength="20">
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" th:text="#{page.member.email}">Email :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="text" id="memberEmail" name="email" data-parsley-type="email"
									placeholder="Member Email." data-error="Please enter a valid email." maxLength="100"/>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-md-4 col-sm-4 col-form-label" th:text="#{page.member.department}">Department :</label>
							<div class="col-md-8 col-sm-8">
								<input class="form-control" type="text" id="dept" name="dept" placeholder="Department." maxLength="100"/>
							</div>
						</div>
					</form>
					<div class="form-group row m-b-0">
						<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
						<div class="col-md-8 col-sm-8">
							<button id="saveBtn" class="btn btn-primary m-r-5 m-b-5" th:text="#{common.save}">Save</button>
							<button id="initBtn" class="btn btn-lime m-r-5 m-b-5" th:text="#{common.reset}">Reset</button>
						</div>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
			
			<!-- begin list panel -->
			<div class="panel panel-inverse">
				<!-- begin panel-heading -->
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<button id="addBtn" type="button" class="btn btn-success btn-xs" th:text="#{common.add}">Add</button>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
							<i class="fa fa-expand"></i>
						</a>
						<a id="reload" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success">
							<i class="fa fa-redo"></i>
						</a>
						<!-- 
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
						 -->
					</div>
					<h4 class="panel-title" th:text="#{common.list}">Member List</h4>
				</div>
				<!-- end panel-heading -->
				<!-- begin panel-body -->
				<div id="panel-body" class="panel-body">
					<div class="row">
						<div class="col-lg-8">
							<table id="listTable" class="table table-striped table-bordered" style="width: 100%;">
								<thead>
									<tr>
										<th data-orderable="false" width="20px">No</th>
										<th class="text-nowrap" data-orderable="false" th:text="#{page.member.id}">ID</th>
										<th class="text-nowrap" th:text="#{page.member.changePassword}">Password Change</th>
										<th class="text-nowrap" data-orderable="true" th:text="#{page.member.id}">Name</th>
										<th class="text-nowrap" data-orderable="true" th:text="#{page.member.email}">Email</th>
										<th class="text-nowrap" data-orderable="true" th:text="#{page.member.department}">Department</th>
										<th class="text-nowrap"></th>
										<th class="text-nowrap">실패메일</th>
										<th class="text-nowrap" data-orderable="true" th:text="#{common.active}">in use</th>
									</tr>
								</thead>
							</table>
							<div class="col-md-8 col-sm-8" id="error_table"></div>
						</div>
						<div class="col-lg-4">
							<table id="subListTable" class="table table-striped table-bordered" style="width: 100%;">
								<thead>
									<tr>
										<th data-orderable="false" width="20px">No</th>
										<th class="text-nowrap" data-orderable="false" th:text="#{page.member.id}">Name</th>
										<th class="text-nowrap" data-orderable="true" th:text="#{common.active}">in use</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<!-- end panel-body -->
			</div>
			<!-- end list panel -->
		</div>

		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->


<script th:inline="javascript">
// #. 시작
$(document).ready(function() {
	App.init();
	TableManageDefault.init();
	doList();
});

var listTable, subListTable;
var g_selectedMemberId;


var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
//ajax Data List
function doList() {
	listTable = $("#listTable").DataTable({
		processing : true,
		serverSide : true,
		stateSave : false,
		destory : true,
		paginate : true,
		scrollX : true,
		// scrollY: "400px",
		searching : true,
		ordering : false,
		scrollCollapse : true,
		fixedColumns : true,
		select: {
            style: 'single'
        },
		ajax : {
			url : "/set/mbr/get",
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			data : function(d) {
				var params = {
					pgNmb : d.start < 0 ? 0 : (d.start / d.length),
					pgrwc : d.length,
					srchVal : d.search.value,
					sDate : $("#startDate").val() == "" || $("#startDate").val() == null ? "" : $("#startDate").val(),
					fDate : $("#finishDate").val() == "" || $("#finishDate").val() == null ? "" : $("#finishDate").val()
				}
				return params;
			},
			dataSrc : function(data) {
				$("#listTable tbody").show();
				data.draw = 0;
				
				return data.data;
			},
			error : function(error) {
				$("#listTable > tbody").html('<tr><td valign="top" colspan="10" class="text-center dataTables_empty">empty</td></tr>');
				$("#_table_processing").css("display", "none");

				CommonMsg.error(function() { });
			}
		},
		columns : [{
    		className : 'text-center align-middle',
			render : function(data, type, row, meta) {
				page = meta.settings.oAjaxData;
				return "<strong>" + (meta.row + 1 + (page.pgNmb * page.pgrwc)) + "</strong>";
			}
		}, {
			data : "id",
			className : "align-middle",
			render : function(data, type, row) {
				return data;
			}
		}, {
			className : "with-btn text-center align-middle",
			render : function(data, type, row) {
				var rtn = '<div class="input-group date" id="passwordChange">';
				rtn += '	<input type="password" id="memberPassword' + row.id + '" class="form-control" value="" maxLength="20" disabled />';
				rtn += '	<span id="passwordChangeSpan' + row.id + '" class="input-group-addon passwordChangeSpan">';
				rtn += '		<i class="fa fa-edit"></i>';
				rtn += '	</span>';
				rtn += '	<span id="passwordNotChangeSpan' + row.id + '" class="input-group-addon d-none passwordNotChangeSpan">';
				rtn += '		<i class="far fa-edit"></i>';
				rtn += '	</span>';
				rtn += '</div>';
				
				return rtn;
			}
		}, {
			data : "name",
			className : "align-middle",
			render : function(data, type, row) {
				return '<input type="text" id="memberName' + row.id + '" data-parsley-required="true" data-parsley-errors-container="#error_table" class="form-control width-full" value="' + data + '" maxLength="100"/>';
			}
		}, {
			data : "email",
			className : "align-middle",
			render : function(data, type, row) {
				return '<input type="text" id="memberEmail' + row.id + '" data-parsley-type="email" data-error="Please enter a valid email." data-parsley-errors-container="#error_table" class="form-control width-full" value="' + (data ? data : "") + '" maxLength="100"/>';
			}
		}, {
			data : "dept",
			className : "align-middle",
			render : function(data, type, row) {
				return '<input type="text" id="memberDept' + row.id + '" class="form-control width-full" value="' + (data ? data : "") + '" maxLength="100"/>';
			}
		}, {
			className : "with-btn text-center align-middle",
			render : function(data, type, row) {
				return '<a href="javascript:edit(\'' + row.id + '\')" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>';
			}
		}, {
			data : "isFailedMailSent",
			className : "with-btn text-center align-middle",
			render : function(data, type, row) {
				var checked = "";
				if (data) checked = "checked";
				
				return '<div class="custom-control custom-switch">'
					+ '<input type="checkbox" class="custom-control-input" onclick="sendMailSave(\'' + row.id + '\')" id="chk_member_' + row.id + '" ' + checked + '>'
					+ '<label class="custom-control-label" for="chk_member_' + row.id + '"></label>'
					+ '</div>';
			}
		}, {
			data : "inUse",
			className : "with-btn text-center align-middle",
			render : function(data, type, row) {
				var checked = "";
				if (data) checked = "checked";
				
				return '<div class="custom-control custom-switch">'
					+ '<input type="checkbox" class="custom-control-input" onclick="inUseSave(\'' + row.id + '\')" id="chk_member_' + row.id + '" ' + checked + '>'
					+ '<label class="custom-control-label" for="chk_member_' + row.id + '"></label>'
					+ '</div>';
			}
		}],
		columnDefs : [ {
			className : "text-center",
			targets : "_all"
		} ],

		//datatable export sample
		dom : "lBfrtip",
		buttons : [ {
			extend : "excel",
			title : "Member_" + moment().format("YYYYMMDDHHmmss")
		} ],
		lengthMenu : [ [ 10, 25, 50, 100, 500, -1 ], [ 10, 25, 50, 100, 500, "ALL" ] ],
		initComplete : function(setting, json) {
			doSubList();
		}
	});
	
	// #. row click handler
	$('#listTable').on('click', 'tbody tr', function(e) {
		// #. 선택 데이터 초기화
		g_selectedData = {};
		
		if ($(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        } else {
        	listTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            // #. 선택된 데이터 셋팅
            g_selectedMemberId = listTable.row(this).data().id;
            
            subListTable.ajax.reload();
        }
	});
}

function doSubList() {
	subListTable = $("#subListTable").DataTable({
		processing : true, serverSide : true,
		stateSave : false, destory : true,
		paginate : true, sStripeEven: '', sStripeOdd: '',
		scrollX : true, 
		searching : true, ordering : false,
		scrollCollapse : true, fixedColumns : true,
        select: {
            style: 'single'
        },
		ajax : {
			url : "/set/mbr/role/get",
			type : "GET",
			dataType : "json",
			contentType : "application/json; charset=utf-8",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			data : function(d) {
				var params = {
					pgNmb : d.start < 0 ? 0 : (d.start / d.length),
					pgrwc : d.length,
					srchVal : d.search.value,
					mbrId : g_selectedMemberId
				}
				return params;
			},
			dataSrc : function(data) {
				$("#subListTable tbody").show();
				data.draw = 0;
				
				// #. existRoles가 있으면 data에 같은 id를 조회해서 useRole값 셋팅
				if (data.existRoles != null) {
					for (var i = 0; i < data.existRoles.length; i++) {
						for (var j = 0; j < data.data.length; j++) {
							if (data.existRoles[i].id == data.data[j].id) {
								data.data[j].useRole = true;
							}
						}
					}
				}

				return data.data;
			},
			error : function(error) {
				$("#subListTable > tbody").html('<tr><td valign="top" colspan="10" class="text-center dataTables_empty">empty</td></tr>');
				$("#_table_processing").hide();

				CommonMsg.error(function() { });
			}
		},
		columns : [{
    		className : 'text-center',
			render : function(data, type, row, meta) {
				page = meta.settings.oAjaxData;
				return "<strong>" + (meta.row + 1 + (page.pgNmb * page.pgrwc)) + "</strong>";
			}
		}, {
			data : "name",
			className : "with-form-control",
			render : function(data, type, row) {
				return data;
			}
		}, {
			data : "id",
			className : "with-btn text-center",
			render : function(data, type, row) {
				var checked = "";
				if (row.useRole) checked = "checked";
				return '<div class="custom-control custom-switch">'
					+ '<input type="checkbox" class="custom-control-input" onclick="changeRole(\'' + row.id + '\', \'' + g_selectedMemberId + '\')" id="chk_role_' + row.id + '" ' + checked + '>'
					+ '<label class="custom-control-label" for="chk_role_' + row.id + '"></label>'
					+ '</div>';
			}
		}],

		//datatable export sample
		dom : "lBfrtip",
		buttons : [ ],
		lengthMenu : [ [ 10, 50, 100, 500, -1 ], [ 10, 50, 100, 500, "ALL" ] ],
		initComplete : function(setting, json) {
		},
		drawCallback : function( settings ) {
			FormSliderSwitcher.init("#subListTable");
	    }
	});
}

$("#reload").on("click", function() {
	listTable.ajax.reload();
});

$("#removeSavedPanel").on("click", function() {
	// #. 저장을 위한 panel 숨기기
	$("#savedPanel").fadeOut();
});

$("#addBtn").on("click", function() {
	// #. 저장을 위한 panel 표시
	$("#savedPanel").fadeIn();
});

$("#saveBtn").on("click", function(event) {
	// #. validation
	$("#frmNew").parsley().validate();
	
	if ($("#frmNew").parsley().isValid()) {
		CommonMsg.okCancel(function() {
			// #. save
			$.ajax({
				url : "/set/mbr/add",
				type : "post",
				dataType : "json",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				data : JSON.stringify($("#frmNew").serializeObject()),
				contentType : "application/json;charset=utf-8",
				success : function(data) {
					if (data.result == "00") {
						CommonMsg.save(function() {
							listTable.ajax.reload();
						});
					} else {
						CommonMsg.error(function() {
							
						});
					}
				},
				error : function(data) {
					CommonMsg.error(function() {
						
					});
				}
			});
		});
	}
});

$("#initBtn").on("click", function(event) {
	// #. form 값 초기화
	$("#frmNew")[0].reset();
	
	// #. validation 초기화
	$("#frmNew").parsley().reset();
	
	// #. event 중단
	event.preventDefault();
});

function sendMailSave(id) {
	$.ajax({
		url : "/set/mbr/save",
		type : 'post',
		dataType : 'json',
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		data : JSON.stringify({
			id : id,
			isFailedMailSent : $("#chk_member_" + id).prop('checked')
		}),
		contentType : "application/json;charset=utf-8",
		success : function(data) {
			if (data.result == "00") {
				CommonMsg.save(function() { });
			} else if (!data.result.startsWith("0")) {
				CommonMsg.error(function() { });
			}
		},
		error : function(data) {
			CommonMsg.error(function() { });
		}
	});
}

function inUseSave(id) {
	$.ajax({
		url : "/set/mbr/save",
		type : 'post',
		dataType : 'json',
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		data : JSON.stringify({
			id : id,
			inUse : $("#chk_member_" + id).prop('checked')
		}),
		contentType : "application/json;charset=utf-8",
		success : function(data) {
			if (data.result == "00") {
				CommonMsg.save(function() { });
			} else if (!data.result.startsWith("0")) {
				CommonMsg.error(function() { });
			}
		},
		error : function(data) {
			CommonMsg.error(function() { });
		}
	});
}

function edit(rowId) {
	var memberNameField = $("#memberName" + rowId);
	var memberEmailField = $("#memberEmail" + rowId);
	
	memberNameField.parsley().validate();
	if (!memberNameField.parsley().isValid()) {
		return;
	}
	
	memberEmailField.parsley().validate();
	if (!memberEmailField.parsley().isValid()) {
		return;
	}
	
	CommonMsg.okCancel(function() {
		// #. save
		$.ajax({
			url : "/set/mbr/save",
			type : "post",
			dataType : "json",
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			data : JSON.stringify({
				id : rowId,
				name : $("#memberName" + rowId).val(),
				password : $("#memberPassword" + rowId).val(),
				email : $("#memberEmail" + rowId).val(),
				dept : $("#memberDept" + rowId).val()
			}),
			contentType : "application/json;charset=utf-8",
			success : function(data) {
				if (data.result == "00") {
					CommonMsg.save(function() {
						listTable.ajax.reload();
					});
				} else {
					CommonMsg.error(function() {
						
					});
				}
			},
			error : function(data) {
				CommonMsg.error(function() {
					
				});
			}
		});
	});
}

$(document).on("click", ".passwordChangeSpan", function() {
	var spanId = $(this).attr("id");
	var rowId = spanId.replace("passwordChangeSpan", "");
	var displaySpanId = "passwordNotChangeSpan" + rowId;
	
	$("#memberPassword" + rowId).removeAttr("disabled");
	$("#" + spanId).addClass("d-none");
	$("#" + displaySpanId).removeClass("d-none");
});

$(document).on("click", ".passwordNotChangeSpan", function() {
	var spanId = $(this).attr("id");
	var rowId = spanId.replace("passwordNotChangeSpan", "");
	var displaySpanId = "passwordChangeSpan" + rowId;
	
	$("#memberPassword" + rowId).val("");
	$("#memberPassword" + rowId).attr("disabled", "true");
	$("#" + spanId).addClass("d-none");
	$("#" + displaySpanId).removeClass("d-none");
});

function changeRole(id, memberId) {
	$.ajax({
		url : "/set/mbr/role/change",
		type : 'post',
		dataType : 'json',
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
		data : JSON.stringify({
			id : id,
			mbrId : memberId,
			isAdd : $("#chk_role_" + id).prop('checked')
		}),
		contentType : "application/json;charset=utf-8",
		success : function(data) {
			if (data.result == "00") {
				CommonMsg.save(function() { });
			} else if (!data.result.startsWith("0")) {
				CommonMsg.error(function() { });
			}
		},
		error : function(data) {
			CommonMsg.error(function() { });
		}
	});
}
</script>
</body>
</html>