<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- #. 화면 기본 head 추가 -->
<th:block th:replace="layout/head"></th:block>
</head>

<body class="pace-done">
	<form name="searchForm" id="searchForm" method="post">
		<input type="hidden" name="startDate" id="startDate" value="" />
		<input type="hidden" name="finishDate" id="finishDate" value="" />
	</form>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<div class="material-loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<div class="message">Loading</div>
		</div>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<th:block th:replace="layout/top"></th:block>
		<!-- end #header -->
		<!-- begin #sidebar -->
		<th:block th:replace="layout/left"></th:block>
		<!-- end #sidebar -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item">Setting</li>
				<li class="breadcrumb-item active">Product</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Product<small> </small></h1>
			<!-- end page-header -->
			<!-- begin save form -->
			
			<div class="row">
				<div class="col-lg-6">
				
					<div class="panel panel-inverse">
					
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
									<i class="fa fa-expand"></i>
								</a>
								<a id="reload" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success">
									<i class="fa fa-redo"></i>
								</a> -->
								<!-- 
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
								 -->
							</div>
							<h4 class="panel-title">List</h4>
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div id="panel-body" class="panel-body">
						
							<table id="listTable" class="table " style="width: 100%;">
								<thead>
									<tr>
										<th data-orderable="false">No</th>
										<th class="text-nowrap" data-orderable="true">Product Name</th>
										<th class="text-nowrap" data-orderable="true">Active</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
				
					<div class="panel panel-inverse">
					
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
									<i class="fa fa-expand"></i>
								</a>
								<a id="reload" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success">
									<i class="fa fa-redo"></i>
								</a> -->
								<!-- 
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
								 -->
							</div>
							<h4 class="panel-title" id="right_title">Registration</h4>
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div id="panel-body" class="panel-body">
						
							<form id="frm_new" data-parsley-validate="true">
								<input type="hidden" class="form-control" name="id">
								<input type="hidden" class="form-control" name="single" value="false">
								
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Product name :</label>
									<div class="col-md-8 col-sm-8">
										<input type="text" class="form-control" data-parsley-required="true" placeholder="Enter name" name="name">
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Use auto barcode</label>
									<div class="col-md-8 col-sm-8">
										<div class="switcher switcher-success">
											<input type="checkbox" name="autoBarcode" id="autoBarcode" value="true">
											<label for="autoBarcode"></label>
										</div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Barcode Role</label>
									<div class="col-md-8 col-sm-8">
										<input type="text" class="form-control" id="barcodeRole" name="barcodeRole">
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Use auto key</label>
									<div class="col-md-8 col-sm-8">
										<div class="switcher switcher-success">
											<input type="checkbox" name="autoSequence" id="autoSequence" value="true">
											<label for="autoSequence"></label>
										</div>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Key Role</label>
									<div class="col-md-8 col-sm-8">
										<input type="text" class="form-control" id="sequenceRole" name="sequenceRole">
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-md-4 col-sm-4 col-form-label">Key Type</label>
									<div class="col-md-8 col-sm-8">
										<input type="text" class="form-control" id="type" name="type">
									</div>
								</div>
							</form>
								
							<hr>
							<div class="form-group row m-b-0">
								<label class="col-md-4 col-sm-4 col-form-label">&nbsp;</label>
								<div class="col-md-8 col-sm-8">
									<button id="btn_registration" class="btn btn-default m-r-5">New</button>
									<button id="btn_save" class="btn btn-default">Save</button>
								</div>
							</div>
							
						</div>
					<!-- end panel-body -->
					</div>
				</div>
			</div>
			<!-- begin panel -->
				
				
			
					
			<!-- end panel -->
				
				<!-- begin panel -->
				<!-- <div class="panel panel-inverse" data-sortable-id="form-validation-2">
					begin panel-heading
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
								<i class="fa fa-expand"></i>
							</a>
							<a id="reload" href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success">
								<i class="fa fa-redo"></i>
							</a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
						</div>
						<h4 class="panel-title">Registration</h4>
					</div>
					end panel-heading
					begin panel-body
					<div class="panel-body">
						
					</div>
					end panel-body
				
				</div> -->
			<!-- end save form -->
		</div>

		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->


<script th:inline="javascript">
	// #. 시작
	$(document).ready(function() {
		App.init();
		TableManageDefault.init();
		doList();

		$("#reload").on("click", function() {
			listTable.ajax.reload();
		});

		
	});
	
	var listTable, subListTable, g_SampleItem;
	var g_selectId = "0", g_selectName = "", g_selectIndex;
	var count;

	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	//ajax Data List
	function doList() {
		listTable = $("#listTable").DataTable({
			processing : true, serverSide : true,
			stateSave : false, destory : true,
			paginate : true, sStripeEven: '', sStripeOdd: '',
			scrollX : true, 
			searching : false, ordering : false,
			scrollCollapse : true, fixedColumns : true,
            select: {
                style: 'single'
            },
			ajax : {
				url : "/set/prd/get/bnd",
				type : "GET",
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				data : function(d) {
					var params = {
						pgNmb : d.start < 0 ? 0 : (d.start / d.length),
						pgrwc : d.length,
						srchVal : d.search.value
					}
					return params;
				},
				dataSrc : function(data) {
					
					$("#error-text").remove();
					$("#listTable tbody").show();
					data.draw = 0;

					return data.data;
				},
				error : function(error) {
					$("#listTable > tbody").html('<tr><td valign="top" colspan="10" class="text-center dataTables_empty">empty</td></tr>');
					$("#_table_processing").css("display", "none");

					swal({
						title : "asdfasdf",
						text : "asdfasdf",
						icon : "error"
					});
					Pace.stop();
				}
			},
			columns : [{
        		className : 'text-center',
				render : function(data, type, row, meta) {
					page = meta.settings.oAjaxData;
					return "<strong>" + (meta.row + 1 + (page.pgNmb * page.pgrwc)) + "</strong>";
				}
			}, {
				//with-form-control
				data : "name",
				className : "",
				render : function(data, type, row) {
					//return '<input type="text" id="iptProduct' + row.id + '" class="form-control width-full" value="' + data + '" readonly/>';
					return data;
				}
			}, {
				data : "active",
				className : "text-center",
				render : function(data, type, row) {
					//return '<a href="javascript:edit(\'' + row.id + '\')" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a> '
					//		+ '<a href="javascript:delete(\'' + row.id + '\')" class="btn btn-sm btn-white width-60">Delete</a>';
					var checked = "";
					if (data) checked = "checked";
					var html = '<div class="custom-control custom-switch">';
					html += '<input class="custom-control-input" id="chk_active_' + row.id + '" type="checkbox" ' + checked + ' onClick="edit(' + row.id + ', this)"/>';
					html += '<label class="custom-control-label" for="chk_active_' + row.id + '"></label>';
					html += '</div>';
					
					return html;
				}
			}, {
				data : "id",
                visible: false,
                render : function(data, type, row) { return data; }
			}, {
				data : "autoBarcode",
                visible: false,
                render : function(data, type, row) { return data; }
			}, {
				data : "barcodeRole",
                visible: false,
                render : function(data, type, row) { return data; }
			}, {
				data : "autoSequence",
                visible: false,
                render : function(data, type, row) { return data; }
			}, {
				data : "sequenceRole",
                visible: false,
                render : function(data, type, row) { return data; }
			}, {
				data : "type",
                visible: false,
                render : function(data, type, row) { return data; }
			}],
			buttons : [ ],
			lengthMenu : [ [ 10, 50, 100, 500, -1 ], [ 10, 50, 100, 500, "ALL" ] ],
			initComplete : function(setting, json) {
				g_selectIndex = -1;
				
			},
			drawCallback : function( settings ) {
				//FormSliderSwitcher.init("#listTable");
				
		    }
		});
		
		$('#listTable').on('click', 'tbody tr', function(e) {
			g_selectId = "";
			$("#frm_new")[0].reset();
			if ($(this).hasClass('selected') ) {
	            $(this).removeClass('selected');
	            g_selectIndex = -1;
	            $("#right_title").text('Registration');
	            
	        } else {
	        	
	        	listTable.$('tr.selected').removeClass('selected');
	            $(this).addClass('selected');
	            
	            var idx = listTable.row(this).index();
				var name = listTable.cell(idx, 1).data();
	            $('input[name=id]').val(listTable.cell(idx, 3).data());
	            $('input[name=name]').val(name);
	            $('input:checkbox[name=autoBarcode]').prop("checked", listTable.cell(idx, 4).data());
	            $('input[name=barcodeRole]').val(listTable.cell(idx, 5).data());
	            $('input:checkbox[name=autoSequence]').prop("checked", listTable.cell(idx, 6).data());
	            $('input[name=sequenceRole]').val(listTable.cell(idx, 7).data());
	            $('input[name=type]').val(listTable.cell(idx, 8).data());
	            
	            $("#right_title").text('Modify - ' + name);
	        }
		});
	}
	
	$(document).on('change', '#listTable [data-render="switchery"]', function() {
		edit($(this).prop('value'), $(this).prop('checked'));
    });
	
	/* $(document).on('change', '#subListTable [data-render="switchery"]', function() {
		itemEdit($(this).prop('value'), $(this).prop('checked'));
    }); */

	$(document).on("click", "#btn_registration", function() {
		$("#frm_new")[0].reset();
        $("#right_title").text('Registration');
        g_selectIndex = -1;
	});
    
	$(document).on("click", "#btn_save", function() {
		//alert(JSON.stringify($('#frm_new').serialize()));
	
		if (!$('#frm_new').parsley().validate()) {
			return;	
		}
		$.ajax({
			url : "/set/prd/save",
			type : 'post',
			dataType : 'json',
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			data : JSON.stringify($('#frm_new').serializeObject()),
			contentType : "application/json;charset=utf-8",
			success : function(data) {
				if (data.result == "00") {
					CommonMsg.save(function() {
						$("#frm_new")[0].reset();
						listTable.ajax.reload();
					});
				} else {
					CommonMsg.error(function() { });
				}
			},
			error : function(data) {
				CommonMsg.error(function() {
					
				});
			}
		});
	});
	
	
	function edit(id, element) {
		var elementId = $(element).attr('id');
		var data = { id : id }; 
		var url = "";
		if (elementId.startsWith("chk_active")) {
			data.active = $(element).is(":checked");
		}
		/* else {
			if (g_selectId == "0") return;

			arrSampleItem = listTable.cell(g_selectIndex, 4).data();

			data.id = g_selectId;
			data.isAdd = $(element).is(":checked");
			data.sampleItems = id;
			
			if (data.isAdd) {
				arrSampleItem.push({"id":id,"name":"","value":"","example":"","notNull":true,"active":true});
			} else {
				for (var a in arrSampleItem) {
					if (arrSampleItem[a].id == id) {
						arrSampleItem.splice(a, 1);
						break;
					}
				}
			}
			
			listTable.cell(g_selectIndex, 4).data(arrSampleItem);
			
			url = "/set/prd/add/item";
		} */
		
		$.ajax({
			url : "/set/prd/save",
			type : 'post',
			dataType : 'json',
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
			data : JSON.stringify(data),
			contentType : "application/json;charset=utf-8",
			success : function(data) {
				
				if (data.result == "00") {
					CommonMsg.save(function() { });
				} else if (!data.result.startsWith("0")) {
					CommonMsg.error(function() { });
				}
			},
			error : function(data) {
				CommonMsg.error(function() {
					
				});
			}
		});
	}
	
</script>
</body>
</html>