<style>
@media screen and (min-width: 768px) {
	.modal-dialog {
	  	max-width: 1024px; /* New width for default modal */
	  	max-height: 600px;
	}
}

#_com_all_popup_table th {
	white-space: nowrap;
    word-break: nowrap;
}

#_com_all_popup_table td {
	white-space: nowrap;
	word-break: nowrap;
}
</style>
<div class="modal fade" id="modal-after">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Report 현황</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div id="_com_after_popup">
				</div>
				
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
				<!-- <a href="javascript:popupSave();" class="btn btn-success">Save</a> -->
			</div>
		</div>
	</div>
</div>
	
<script th:inline="javascript">
/* <![CDATA[ */       
//ajax Data List

function afterPopupOnload(type, startDate, endDate) {
	$("#modal-after").modal();
	
	UserTable.init('_com_after_popup', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
	afterAfterGetItem(type, startDate, endDate);
}

function afterAfterGetItem(type, startDate, endDate) {
	var url = "/popup/registered";
	if (type == 1) {
		url = "/popup/running";
	} else if (type == 2) {
		url = "/popup/completed";
	}
	UserTable.draw('_com_after_popup', {
		url : url,
		type : "GET",
		data : function() {
			return {
				sDate : startDate,
				fDate : endDate
			};
		},
		dataType : "json",
		contentType : "application/json; charset=utf-8",
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		}
	}, [{
		title : 'No', 
		data : 'id',
		type : 'index',
		headClassName : 'width-50',
		bodyClassName : 'text-center'
	}, {
		title : "Sample ID",
		data : "sampleId"
	}, {
		title : "File Path",
		data : "filePath"
	}, {
		title : "상태",
		data : "statusCode",
		render : function(row, data, index) {
			var value = "";
			if (data != null) {
				value = g_statusCodeInfo[data];
			}
			return value;
		}
	}, {
		title : "등록일",
		data : "createdDate",
		type : "date"
	}]);
	
}	



/* ]]> */
</script>
