<div class="modal fade" id="modal-cel-files">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cel file list </h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div id="_cel_popup_grid" style="overflow: auto; max-height: 500px;"></div>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
				<!-- <a href="javascript:popupSave();" class="btn btn-success">Save</a> -->
			</div>
		</div>
	</div>
</div>
	
<script th:inline="javascript">
/* <![CDATA[ */       

function celfilePopupOnload(chipBarcode) {
	$("#modal-cel-files").modal();
	
	UserTable.init('_cel_popup_grid', false);
	celfileAfterGetItem(chipBarcode);
}

function celfileAfterGetItem(chipBarcode) {
	UserTable.draw('_cel_popup_grid', {
		url : "/anls/rdy/celfile/get",
		type : "GET",
		data : function() {
			var param = {
				chipBarcode : chipBarcode
			};
			return param;
		},
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		}
	}, [{
		title : 'No', 
		data : 'id',
		headClassName : 'width-50',
		bodyClassName : 'text-center',
		render : function(row, data, index) {
			return '<string>' + (index + 1) + '</string>';
		}
	}, {
		title : 'File Name',
		data : 'fileName'
	}], false);
}
		


/* ]]> */
</script>
