<style>
	@media screen and (min-width: 768px) {
		#cal1 {
			width: 100%;
		}
	}
</style>

<style>
@media screen and (min-width: 576px) {
	#modal-password .modal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
}
</style>

<!-- begin modal-dialog -->
<div class="modal fade" id="modal-password">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Password 변경</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<form id="frm_popup_password" name="frm_popup_password" method="POST" enctype="multipart/form-data">
					<div class="form-group row m-b-12">
						<label class="col-form-label col-md-4">Password *</label>
						<div class="col-xs-push-0 col-md-8">
							<input type="password" id="popupPassword" name="password" class="form-control" data-parsley-required="true" placeholder="Password" maxlength="20">
						</div>
					</div>
					<div class="form-group row m-b-12">
						<label class="col-form-label col-md-4">Password 확인 *</label>
						<div class="col-xs-push-0 col-md-8">
							<input type="password" id="popupPasswordConfirm" name="passwordConfirm" class="form-control" data-parsley-required="true" placeholder="Password" maxlength="20">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="javascript:;" class="btn btn-white" data-dismiss="modal">닫기</a>
				<a href="javascript:passwordPopupSave();" class="btn btn-success">저장</a>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
/* <![CDATA[ */    
	function passwordPopupOnload() {
		$("#modal-password").modal();
	}

	function passwordPopupSave() {
		if (!$('#frm_popup_password').parsley().validate()) {
			return;	
		}

		if ($("#popupPassword").val() != $("#popupPasswordConfirm").val()) {
			CommonMsg.error(function() { }, "동일한 Password를 입력하세요.");
			return;
		}
		
		$.ajax({
            url: '/set/mbr/password/change',
			type: 'post',
	        data : JSON.stringify($('#frm_popup_password').serializeObject()),
	        dataType : 'json',
	        contentType : "application/json;charset=utf-8",
	        beforeSend: function(xhr) {
				xhr.setRequestHeader(header, token);
			},
		    success: function(data, xhr) {
		    	if (data.result == "00") {
					CommonMsg.save(function() {
						$("#modal-password").modal('hide');
					});
				} else {
					CommonMsg.error(function() { }, data.message);
				}
			},
			error : function(data) {
				CommonMsg.error(function() { });
			},
			complete : function() {
				
			}
		});
	}
	
	
/* ]]> */
</script>