<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="layout/head"></th:block>
	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script type = "text/javascript" src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<body class="pace-done">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<div class="material-loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
			<div class="message">Loading</div>
		</div>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<th:block th:replace="layout/top"></th:block>
		<!-- end #header -->
		<!-- begin #sidebar -->
		<th:block th:replace="layout/left"></th:block>
		<!-- end #sidebar -->
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin page header -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item">SEQ</li>
				<li class="breadcrumb-item active">Report</li>
			</ol>
			
			<h1 id="page-header" class="page-header">Report</h1>
			
			<div class="row">
				<div class="col-xl-12">
					<div class="panel panel-inverse">
						<div id="panel-body" class="panel-body">
							<div class="form-group row m-b-12">
								<label class="col-form-label m-l-2">서비스</label>
								<div class="col-xs-push-0">
									<select class="form-control width-200" data-parsley-required="true" id="sel_bundle" name="bundleId">
										<option value="">전체</option>
										<option th:each="bnd : ${bundles}" th:value="${bnd.getId()}" th:text="${bnd.getName()}"></option>
									</select>
								</div>
								
								<label class="col-form-label m-l-5">조회일자</label>
								<div class="input-group" id="default-daterange" style="width: auto; float: right; padding-left: 10px; min-width: 220px" >
								    <input type="text" name="default-daterange" class="form-control" value="" placeholder="클릭하여 선택" readonly="readonly"/>
								    <span class="input-group-append">
								    	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
								<label class="col-form-label m-l-10">검색어</label>
								<div class="col-xs-push-0">
								    <input type="text" id="keyword" class="form-control"/>
								</div>
								<div>
									<button onClick="search();" class="btn btn-default m-l-10">조회</button>
								</div>
							</div>
							<hr/>
							<div id="_report_grid"></div>
							<hr/>
							<div class="row">
								<form id="fileupload" method="POST" enctype="multipart/form-data">
									<div class="hide">
										<input type="file" id="file" name="file">
									</div>
								</form>
								<button onClick="resultUpload();" class="btn btn-success m-l-20">결과업로드</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end panel -->
		</div>
		<!-- end #content -->
	</div>
	
	<script th:inline="javascript">
	/* <![CDATA[ */       

	var g_statusCodeInfo = /*[[${statusCodes}]]*/ {};

	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	//  시작
	$(document).ready(function() {
		App.init();

		$('#file').on('change', function () {
			if ($("#file").val() == '') return;
			
			var form = $('#fileupload')[0];
			var data = new FormData(form);
			$.ajax({
				enctype: 'multipart/form-data',
				url: '/seq/report/save',
				type: 'post',
				data : data,
				processData: false,
				contentType: false,
				beforeSend: function(xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function(data,xhr) {
					if (data.result == "00") {
						CommonMsg.save(function() { });
					} else {
						CommonMsg.error(function() { }, data.message);
					}
				},
				error : function(xhr, status, error) {
					CommonMsg.error(function() {});
				},
				complete : function() {
					$("#file").val('');
					// #. 새로고침
					UserTable.reload('_report_grid');
				}
			});
		});

		UserTable.init('_report_grid', true, [10, 50, 100, 200, 500] , [10, 50, 100, 200, 500]);
		drawReportGrid();
	});
	
	function drawReportGrid() {
		UserTable.draw('_report_grid', {
			url : "/seq/report/get",
			type : "GET",
			data : function() {
				var param = {
					sDate : $('#startDate').val() == "" || $('#startDate').val() == null ? "" : $('#startDate').val(),
					fDate : $('#finishDate').val() == "" || $('#finishDate').val() == null ? "" : $('#finishDate').val(),
					keyword : $("#keyword").val()
				};
				return param;
			},
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			}
		}, [{
			title : 'No', 
			data : 'id',
			type : 'index',
			headClassName : 'width-50',
			bodyClassName : 'text-center'
		}, {
			title : "Sample ID",
			data : "sampleId"
		}, {
			title : "File Path",
			data : "filePath"
		}, {
			title : "상태",
			data : "statusCode"
		}, {
			title : "등록일",
			data : "createdDate",
			type : "date"
		}]);
	}

	function resultUpload() {
		$('#file').trigger('click'); 
	}

	/* ]]> */
	</script>
	
</body>
</html>